/* 
        --- Variáveis de Cor --- 
        '@primarylight':'#85b9ff;',
        '@primary':'#4ea1ff;',
        '@primarydark':'#2675ff;',
        '@secondarylight':'#767676;',
        '@secondary':'#555555;',
        '@secondarydark':'#2e2e2e;',
        '@successlight':'#a4d155;',
        '@success':'#77b300;',
        '@successdark':'#4f6d00;',
        '@infolight':'#c08ff3;',
        '@info':'#9933cc;',
        '@infodark':'#661d99;',
        '@warninglight':'#ffae33;',
        '@warning':'#ff8800;',
        '@warningdark':'#cc6600;',
        '@dangerlight':'#e16d6d;',
        '@danger':'#cc0000;',
        '@dangerdark':'#8b0000;',
        '@light':'#ADAFAE;',
        '@dark':'#222222;',
        '@bg':'#060606;',
        '@fg':'#ffffff;',
        '@selectbg':'#454545;',
        '@selectfg':'#ffffff;',
        '@border':'#060606;',
        '@inputfg':'#ffffff;',
        '@inputbg':'#191919;',
        '@primarydis':'#7aaeff;',
        '@secondarydis':'#6e6e6e;',
        '@successdis':'#90c344;',
        '@infodis':'#b07cd9;',
        '@warningdis':'#e69933;',
        '@dangerdis':'#d38080;',
        '@lightdis':'#c0c2c1;',
        '@darkdis':'#3a3a3a;',
        '@fgprimary':'#ffffff;',
        '@fgsecondary':'#ffffff;',
        '@fgsuccess':'#ffffff;',
        '@fginfo':'#ffffff;',
        '@fgwarning':'#000000;',
        '@fgdanger':'#ffffff;',
        '@fglight':'#000000;',
        '@fgdark':'#ffffff;',
        '@fgprimarydis':'#e0e0e0;',
        '@fgsecondarydis':'#cccccc;',
        '@fgsuccessdis':'#e0e0e0;',
        '@fginfodis':'#e0e0e0;',
        '@fgwarningdis':'#333333;',
        '@fgdangerdis':'#e0e0e0;',
        '@fglightdis':'#333333;',
        '@fgdarkdis':'#cccccc;',
 */
 
/* QPuhshButton =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
QPushButton {
    color: @fg;
    background-color: @secondary;
    border: 1.5px solid @secondary;
    border-radius: 8px;
    font-size: 16px;
    padding: 7px 22px;
    font-weight: 500;
}
QPushButton:hover {
    background-color: @secondarylight;
}
QPushButton:pressed {
    background-color: @inputbg;
}
QpushButton:checked {
    background-color: @secondarydark;
}

QPushButton#primary {
    background-color: @primary;
    border: 1.5px solid @primary;
}
QPushButton#primary:hover {
    background-color: @primarylight;
}
QPushButton#primary:pressed {
    background-color: @primarydark;
}
QPushButton#primary:checked {
    background-color: @primarydark;
}

QPushButton#secondary {
    background-color: @secondary;
    border: 1.5px solid @secondary;
}
QPushButton#secondary:hover {
    background-color: @secondarylight;
}
QPushButton#secondary:pressed {
    background-color: @secondarydark;
}
QPushButton#secondary:checked {
    background-color: @secondarydark;
}

QPushButton#success {
    background-color: @success;
    border: 1.5px solid @success;
}
QPushButton#success:hover {
    background-color: @successlight;
}
QPushButton#success:pressed {
    background-color: @successdark;
}
QPushButton#success:checked {
    background-color: @successdark;
}
QPushButton#info {
    background-color: @info;
    border: 1.5px solid @info;
}
QPushButton#info:hover {
    background-color: @infolight;
}
QPushButton#info:pressed {
    background-color: @infodark;
}
QPushButton#info:checked {
    background-color: @infodark;
}
QPushButton#warning {
    background-color: @warning;
    border: 1.5px solid @warning;
}
QPushButton#warning:hover {
    background-color: @warninglight;
}
QPushButton#warning:pressed {
    background-color: @warningdark;
}
QPushButton#warning:checked {
    background-color: @warningdark;
}
QPushButton#danger {
    background-color: @danger;
    border: 1.5px solid @danger;
}
QPushButton#danger:hover {
    background-color: @dangerlight;
}
QPushButton#danger:pressed {
    background-color: @dangerdark;
}
QPushButton#danger:checked {
    background-color: @dangerdark;
}
QPushButton#link {
    background: transparent;
    border: none;
    color: @primary;
    font-size: 15px;
    text-align: left;
    padding: 0;
    font-weight: 500;
    text-decoration: none;
}
QPushButton#link:hover {
    color: @info;
    text-decoration: underline;
}
QPushButton#link:pressed {
    color: @warning;
}
QPushButton#link:checked {
    color: @warning;
}
/* QPushButton disabled */
QPushButton#primary:disabled {
    background-color: @primarydis;
    color: @fgprimarydis;
    border-color: @primarydis;
}
QPushButton#secondary:disabled {
    background-color: #6e6e6e;
    color: #cccccc;
    border-color: #6e6e6e;
}
QPushButton#success:disabled {
    background-color: #90c344;
    color: #e0e0e0;
    border-color: #90c344;
}
QPushButton#info:disabled {
    background-color: #b07cd9;
    color: #e0e0e0;
    border-color: #b07cd9;
}
QPushButton#warning:disabled {
    background-color: #e69933;
    color: #333333;
    border-color: #e69933;
}
QPushButton#danger:disabled {
    background-color: #d38080;
    color: #e0e0e0;
    border-color: #d38080;
}


/* button outline ---------------------------*/
QPushButton#primary-outline {
    background-color: transparent;
    color: @primary;
    border: 1.5px solid @primary;
}
QPushButton#primary-outline:hover {
    color: @fgprimary;
    background-color: @primary;
}
QPushButton#primary-outline:pressed {
    color: @fgsecondary;
    background-color: @primarydark;
}
QPushButton#primary-outline:checked {
    color: @fgsecondary;
    background-color: @primarydark;
}

QPushButton#secondary-outline {
    background-color: transparent;
    border: 1.5px solid @secondary;
    color: @secondary;
}
QPushButton#secondary-outline:hover {
    color: @fgsecondary;
    background-color: @secondary;

}
QPushButton#secondary-outline:pressed {
    color: @fgsecondary;
    background-color: @secondarydark;
}
QPushButton#secondary-outline:checked {
    color: @fgsecondary;
    background-color: @secondarydark;
}

QPushButton#success-outline {
    background-color: transparent;
    border: 1.5px solid @success;
    color: @success;
}

QPushButton#success-outline:hover {
    color: @fgsuccess;
    background-color: @success;
}
QPushButton#success-outline:pressed {
    color: @fgsuccess;
    background-color: @successdark;
}
QPushButton#success-outline:checked {
    color: @fgsuccess;
    background-color: @successdark;
}

QPushButton#info-outline {
    background-color: transparent;
    border: 1.5px solid @info;
    color: @info;
}
QPushButton#info-outline:hover {
    color: @fginfo;
    background-color: @info;
}
QPushButton#info-outline:pressed {
    color: @fginfo;
    background-color: @infodark;
}
QPushButton#info-outline:checked {
    color: @fginfo;
    background-color: @infodark;
}

QPushButton#warning-outline {
    background-color: transparent;
    border: 1.5px solid @warning;
    color: @warning;
}
QPushButton#warning-outline:hover {
    color: @fgwarning;
    background-color: @warning;
}
QPushButton#warning-outline:pressed {
    color: @fgwarning;
    background-color: @warningdark;
}
QPushButton#warning-outline:checked {
    color: @fgwarning;
    background-color: @warningdark;
}

QPushButton#danger-outline {
    background-color: transparent;
    border: 1.5px solid @danger;
    color: @danger;
}
QPushButton#danger-outline:hover {
    color: @fgdanger;
    background-color: @danger;
}
QPushButton#danger-outline:pressed {
    color: @fg;
    background-color: @dangerdark;
}
QPushButton#danger-outline:checked {
    color: @fg;
    background-color: @dangerdark;
}

/* outline disabled 0-----0-0-0-0-0-*/
QPushButton#primary-outline:disabled {
    color: @primarydark;
    border: 1.5px solid @primarydark;
}

QPushButton#secondary-outline:disabled {
    color: @secondarylight;
    border: 1.5px solid @secondarydark;
}

QPushButton#success-outline:disabled {
    color: @successdark;
    border: 1.5px solid @successdark;
}

QPushButton#info-outline:disabled {
    color: @infodark;
    border: 1.5px solid @infodark;
}

QPushButton#warning-outline:disabled {
    color: @warningdark;
    border: 1.5px solid @warningdark;
}

QPushButton#danger-outline:disabled {
    color: @dangerdark;
    border: 1.5px solid @dangerdark;
}
/* QpushButton link -------------------------- */
QPushButton#primary-link {
    background: transparent;
    border: none;
    color: @primary;
    font-size: 15px;
    text-align: left;
    padding: 0;
    font-weight: 500;
    text-decoration: none;
}
QPushButton#primary-link:hover {
    text-decoration: underline;
    color: @primarylight;
}
QPushButton#primary-link:pressed {
    color: @primarydark;
}
QPushButton#primary-link:checked {
    color: @primarydark;
    text-decoration: underline;
}

QPushButton#secondary-link {
    background: transparent;
    border: none;
    color: @secondary;
    font-size: 15px;
    text-align: left;
    padding: 0;
    font-weight: 500;
    text-decoration: none;
}
QPushButton#secondary-link:hover {
    text-decoration: underline;
    color: @secondarylight;
}
QPushButton#secondary-link:pressed {
    color: @secondarydark;
}
QPushButton#secondary-link:checked {
    color: @secondarydark;
    text-decoration: underline;
}
QPushButton#success-link {
    background: transparent;
    border: none;
    color: @success;
    font-size: 15px;
    text-align: left;
    padding: 0;
    font-weight: 500;
    text-decoration: none;
}
QPushButton#success-link:hover {
    text-decoration: underline;
    color: @successlight;
}
QPushButton#success-link:pressed {
    color: @successdark;
}
QPushButton#success-link:checked {
    color: @successdark;
    text-decoration: underline;
}

QPushButton#info-link {
    background: transparent;
    border: none;
    color: @info;
    font-size: 15px;
    text-align: left;
    padding: 0;
    font-weight: 500;
    text-decoration: none;
}
QPushButton#info-link:hover {
    text-decoration: underline;
    color: @infolight;
}
QPushButton#info-link:pressed {
    color: @infodark;
}
QPushButton#info-link:checked {
    color: @infodark;
    text-decoration: underline;

}
QPushButton#warning-link {
    background: transparent;
    border: none;
    color: @warning;
    font-size: 15px;
    text-align: left;
    padding: 0;
    font-weight: 500;
    text-decoration: none;
}
QPushButton#warning-link:hover {
    text-decoration: underline;
    color: @warninglight;
}
QPushButton#warning-link:pressed {
    color: @warningdark;
}
QPushButton#warning-link:checked {
    color: @warningdark;
    text-decoration: underline;
}
QPushButton#danger-link {
    background: transparent;
    border: none;
    color: @danger;
    font-size: 15px;
    text-align: left;
    padding: 0;
    font-weight: 500;
    text-decoration: none;
}
QPushButton#danger-link:hover {
    text-decoration: underline;
    color: @dangerlight;
}
QPushButton#danger-link:pressed {
    color: @dangerdark;
}
QPushButton#danger-link:checked {
    color: @dangerdark;
    text-decoration: underline;
}


QPushButton#primary-link:disabled {
    color: @primarydark;
}
QPushButton#secondary-link:disabled {
    color: @secondarydark;
}
QPushButton#success-link:disabled {
    color: @successdark;
}
QPushButton#info-link:disabled {
    color: @infodark;
}
QPushButton#warning-link:disabled {
    color: @warningdark;
}
QPushButton#danger-link:disabled {
    color: @dangerdark;
}